@import "~@watheia/pwa.ui.layout.breakpoints/_breakpoints.scss";

.mainGrid {
  gap: 46px;
  align-items: center;
}

.content {
  margin: 0 auto;
  max-width: 700px;

  @media screen and (min-width: $br-l) {
    margin: 0 auto 0 0;
    max-width: 420px;
  }
}

.spacer {
  flex: none;
  width: 14px;
  height: 24px;
}

.paragraph {
  margin-bottom: 30px;
}

.image {
  max-width: 500px;
  max-height: 550px;
}

.buttons {
  @media screen and (min-width: $br-sm) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $br-l) {
    max-width: 320px;
    justify-content: left;
  }

  a,
  button {
    width: 100%;
    flex: 0 1 50%;

    @media screen and (min-width: $br-sm) and (max-width: $br-l) {
      width: 199px;
      flex: none;
    }
  }
}


.wrapper {
  margin-top: var(--space-6x);
  max-width: 600px;
}

.hero {
  font-size: 52px;
  line-height: 1.15;
  letter-spacing: -0.05em;
  font-weight: 700;
  text-align: center;
  margin: 0 0 25px;
}

.info {
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-8x);
  color: #f2b705;
  font-weight: 600;
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  margin: auto auto 30px;
  color: var(--secondary-color);
  max-width: 355px;
}

.description-separator {
  height: 24px;
  width: 1px;
  background: var(--secondary-color);
  margin: 0 var(--space-4x);
}

.info :global(p) {
  margin: 0;
}

@media (min-width: 768px) {
  .hero {
    font-size: 100px;
    line-height: 1;
    font-weight: 800;
    margin: 0 0px 40px;
  }

  .info {
    font-size: 24px;
    margin-bottom: 80px;
  }

  .description {
    font-size: var(--space-8x);
    max-width: 531px;
    margin: 40px auto;
  }
}
